.filter {
  &__btns {
    margin-bottom: 20px;
  }
  &__btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 25px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    opacity: 0.3;
    &--crop {
      background-position: -136px -98px;
    }
    &--brightness {
      background-position: -53px -172px;
    }
    &--contrast {
      background-position: -6px -93px;
      margin-right: 0;
    }
    &:hover {
      opacity: 0.5;
    }
    &--activecrop {
      background-position: -213px -101px;
      opacity: 1;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__range {
    margin-bottom: 40px;
  }
}

.scale {
  position: relative;
  margin: 0 -40px;
  padding: 20px 0;
  border-bottom: 1px solid #dddfe0;
  &__bar {
  display: inline-block;
  width: 80%;
  height: 2px;
  background-color: @main-nav_color;
  }
  &--brightness {
    display: none;
  }
  &--contrast {
    display: none;
  }
}

.toggle {
  position: absolute;
  top: 29px;
  width: 10px;
  height: 10px;
  background-color: @main-bgcolor;
  border: 2px solid @pink;
  border-radius: 50%;
  cursor: pointer;
  &--crop {
    left: 210px;
  }
  &--brightness {
    left: 60px;
  }
  &--contrast {
    left: 140px;
  }
  &:active {
    background-color: @pink;
  }
}


@media (min-width: @tablet) {

  .filter {
    float: right;
    width: 275px;
    margin-top: 20px;
    &__btns {
      display: none;
    }
    &__range {
      margin-bottom: 68px;
    }
  }

  .scale {
    margin: 0;
    text-align: right;
    &--crop {
      background-image: url("../img/crop_2.png");
      background-repeat: no-repeat;
      background-position: 0% 50%;
    }
    &--brightness {
      display: block;
      background-image: url("../img/fill_2.png");
      background-repeat: no-repeat;
      background-position: 0% 50%;
    }
    &--contrast {
      display: block;
      background-image: url("../img/contrast_2.png");
      background-repeat: no-repeat;
      background-position: 0% 50%;
    }
    &__bar {
      margin-right: 17px;
    }
  }

}

@media (min-width: @desktop) {

  .filter {
    width: 410px;
    &__range {
      margin-bottom: 145px;
    }
  }

  .scale {
    &--crop {
      background-image: url("../img/crop-pink.png");
      background-repeat: no-repeat;
      background-position: 0% 50%;
    }
    &--brightness {
      display: block;
      background-image: url("../img/fill-pink.png");
      background-repeat: no-repeat;
      background-position: 0% 50%;
    }
    &--contrast {
      display: block;
      background-image: url("../img/contrast-pink.png");
      background-repeat: no-repeat;
      background-position: 0% 50%;
    }
  }

}
