.info {
  margin-bottom: 50px;
  background-image: url("../img/iphone_screen.png");
  background-repeat: no-repeat;
  background-position: 50% 110%;
}

.info__intro {
  margin-bottom: 65px;
}

.info__text {
  margin: 0;
  margin-bottom: 34px;
  text-align: center;
  font-family: "OpenSansLight";
  font-size: 24px;
  line-height: 30px;
}

.features {
  position: relative;
  padding-top: 50px;
  padding-bottom: 280px;
  text-align: center;
  background-color: @main-bgcolor;
  z-index: -10;
  &::before {
    content: "";
    position: absolute;
    top: -32px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 32px;
    background-image:
      linear-gradient(
        to bottom right,
        transparent 50%,
        @main-bgcolor 50%
      );
  }
  &__item {
    font-family: "OpenSansRegular";
    margin-bottom: 25px;
  }
}

.features-item {
  &__title {
    font-family: "OpenSansBold";
    font-size: 18px;
    line-height: 24px;
  }
  &__text {
    margin: 0;
    margin-top: 14px;
    font-size: 14px;
  }
}

@media (min-width: @tablet) {

  .info {
    margin-bottom: 60px;
    background-image: url("../img/iphone_screen_tablet.png");
    background-repeat: no-repeat;
    background-position: 10% 185px;
    z-index: 100;
  }

  .info__intro {
    margin-bottom: 120px;
  }

  .info__text {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 46px;
  }

  .features {
    padding-top: 22px;
    padding-bottom: 20px;
    &::before {
      top: -53px;
      height: 54px;
    }
    &__items {
      float: right;
      width: 50%;
      min-width: 310px;
      text-align: left;
    }
  }

}

@media (min-width: @desktop) {

  .info {
    margin-bottom: 0;
    background-image: none;
  }

  .info__intro {
    margin-bottom: 160px;
  }

  .info__text {
    font-size: 50px;
    line-height: 58px;
  }

  .features {
    padding-top: 0;
    &::before {
      top: -91px;
      height: 92px;
      z-index: -100;
    }
    &__items {
      float: none;
      display: inline-block;
      width: 100%;
      font-size: 0;
    }
    &__item {
      position: relative;
      display: inline-block;
      width: 240px;
      padding: 0 30px;
      padding-top: 270px;
      text-align: center;
      &::before {
        content: "";
        position: absolute;
        top: -90px;
        left: 0;
        width: 300px;
        height: 300px;
        overflow: hidden;
      }
      &--disposition::before {
        background-image: url("../img/picture_shadow.png"), url("../img/Iphone_screen_1.png");
        background-repeat: no-repeat, no-repeat;
        background-position: left 102%, center top;
      }
      &--changes::before {
        background-image: url("../img/picture_shadow.png"), url("../img/Iphone_screen_1_2.png");
        background-repeat: no-repeat, no-repeat;
        background-position: left 102%, center top;
      }
      &--friends::before {
        background-image: url("../img/picture_shadow.png"), url("../img/Iphone_screen_1_3.png");
        background-repeat: no-repeat, no-repeat;
        background-position: left 102%, center top;
      }
    }
  }

  .features-item {
    &__title {
      font-family: "OpenSansBold";
      font-size: 30px;
      line-height: 30px;
    }
    &__text {
      font-family: "OpenSansRegular";
      font-size: 18px;
      line-height: 30px;
    }
  }

}
