.page-header {
  position: relative;
  margin-bottom: 40px;
  background-image: url("../img/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  &__top-part {
    .clearfix;
    width: 100%;
    background-color: @header-bgcolor;
    &--opened {
      background-color: @main-nav_color;
      box-shadow: 0 1px 0 0 #000;
    }
  }
  &__bottom-part--index {
    margin-top: 107px;
    padding-top: 285px;
    background-image: url("../img/iphone-5-in-hand.png");
    background-repeat: no-repeat;
    background-position: top;
  }
  &__bottom-part--inner {
    min-height: 170px;
  }
  &__logo {
    float: left;
    padding: 20px;
  }
  &__title {
    margin: 0;
    padding: 35px 20px;
    text-align: center;
    font-family: "OpenSansLight";
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    color: #fff;
  }
}
